@model UserDetailListViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create User</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="User" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br/>
            <div class="form-group" hidden>
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="UserFirstName" class="control-label"></label>
                <input asp-for="UserFirstName" class="form-control" />
                <span asp-validation-for="UserFirstName" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="UserLastName" class="control-label"></label>
                <input asp-for="UserLastName" class="form-control" />
                <span asp-validation-for="UserLastName" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="UserAdress" class="control-label"></label>
                <input asp-for="UserAdress" class="form-control" />
                <span asp-validation-for="UserAdress" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="UserPhoneNumber" class="control-label"></label>
                <input asp-for="UserPhoneNumber" class="form-control" />
                <span asp-validation-for="UserPhoneNumber" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
