html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #783223;
    color:white;
   
}

#createOrder-position {
    color: #C6BEBD;
    position: fixed;
    z-index: 10000;
    top: 19%;
    left: 2%;
    font-size: 0.9em;
    font-weight: bold;
    transition: 0.5s padding;
    border: 3px solid #BE2D0E;
}

    #createOrder-position:hover {
        padding: 1em 2em;
        color: aliceblue;
    }

    #createOrder-position:active {
        color: rgb(180, 180, 180);
    }

#burger-detail {
   font-size:1em;
   font-weight:700;
}

.CreateOrder {

    width:4.9em;
    background-color:black;
}

.CreateOrder:hover{
   background-color:dimgrey;
   opacity:0.9;
}

.header-container {
    display: flex;
    flex-wrap:nowrap;
    column-gap: 58rem;
}

.form-container {
    display: flex;
    flex-wrap: nowrap;
}

#SearchUserId {
    placeholder:"Search User";
}