html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#createOrder-position {
    color: #C6BEBD;
    position: fixed;
    z-index: 10000;
    top: 19%;
    left: 2%;
    font-size: 0.9em;
    font-weight: bold;
    transition: 0.5s padding;
    dot

}

    #createOrder-position:hover {
        padding: 1em 2em;
        color: aliceblue;
    }

    #createOrder-position:active {
        color: rgb(180, 180, 180);
    }
