@model IEnumerable<BurgerListViewModel>

@{
    int i = 0;
	ViewData["Title"] = "Home Page";
}

<h1 style="text-align:center">Welcom to Dinko's Burger House</h1>

<div class="container">
    <div class="row">
        <div id="carouselExampleControls" class="carousel slide col-6 mx-auto" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var burger in @Model)
                {
                    <div class="@(i==0 ? "carousel-item active" : "carousel-item")">
                        <img src="@burger.BurgerURL" alt="@burger.BurgerName" style="height:400px; width:100%;">
                        <br/>
                        <br/>
                        <br/>
                        <br/>

                        <div class="carousel-caption d-none d-md-block bg-dark">
                            <h5>@burger.BurgerName</h5>
                        </div>
                    </div>
                    i++;
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <a asp-controller="Order" asp-action="Create" class="btn btn-lg mt-4 btn-primary col-4 d-block mx-auto">Place your order now</a>
</div>