@model BurgerViewModel

<h1>@Model.BurgerName</h1>
<h3>Are you sure you want to delete this?</h3>
<div>
    <form asp-action="Delete">
        <button type="submit" value="Delete" class="btn btn-danger">Yes</button>
        <button  asp-action="Index" class="btn btn-primary">No</button>
    </form>
</div>
