@model OrderViewModel

@{
    ViewData["Title"] = "Creare";
}

<h1>Create Order</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div title="Pres ctrl + left click to select multiple" class="form-group">
                <label asp-for="BurgersId" class="control-label"></label>
            </br>
                @Html.ListBoxFor(x => x.BurgersId, new SelectList(ViewBag.Burgers, "BurgerId", "BurgerName"))
                <span asp-validation-for="BurgersId" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" asp-items="@(new SelectList(ViewBag.Users, "UserId", "UserFullName"))" class="form-control"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
